.faculty-content {
  padding: 40px 80px;
}

.faculty-content h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}

.faculty-content p {
  font-size: 16px;
  color: #555;
  margin-bottom: 40px;
}

.faculty-dashboard {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.faculty-box {
  width: 270px;
  height: 160px;
  /* background-color: #ffffff; */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(238, 169, 255, 0.8);
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html.dark .faculty-box{
  background-color: #121212;
  color: #fff;
  box-shadow: 0 6px 12px rgba(238, 169, 255, 0.8);
}
html.dark .faculty-box:hover{
  box-shadow: 0 6px 12px rgba(111, 0, 255, 0.8);
}
html.dark .faculty-box p{
  color: #fff;
}
.faculty-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(111, 0, 255, 0.8);
}

.faculty-upload-box {
  background: linear-gradient(to right, #2a23f2, #9f2cf3);
  color: #fff;
}

.faculty-upload-box h4,
.faculty-upload-box p {
  color: #fff;
}

.faculty-box h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
}

.faculty-box p {
  font-size: 14px;
  color: #121212;
}

.purple-icon {
  color: #5f5bfa;
}

.faculty-icon {
  font-size: 32px !important;
}
