@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 40px;
}
.main{
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  height: 400px;
  width: 350px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35); 
  text-align: center;
  margin-right: 10px;
}
.folder{
  display: flex;
}
.container{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 900px;
  height: 500px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  border: 10px solid rgb(94, 27, 176);
  padding: 0px 0px 15px 0px;
  position: absolute;
  top: 50%;
  /* left: 50%; */
  transform: translate(-50%, -50%);
}
.head{
  display: flex;
}
.head img{
  width: 80px;
  height: 80px;
  margin-right: 15px;
  margin-top: 10px;
}
.main h2{
  text-align: left;
  margin-left: 10px;
  font-size: 25px;
}
.signup{
  margin-left: -70px;
  margin-top: -20px;
}
.main label{
  color: black;
  margin-left: 30px;
}
.main input{
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;
  width: 250px;
  color: black;
  margin-top: 0;
}
.main .login{
  background-color: rgb(93, 21, 161);
  width: 300px;
  margin-top: 25px;
  margin-left: 25px;
  height: 40px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  /* padding: 5px 5px; */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.main .login:hover {
  background-color: rgb(109, 24, 200);
}
img{
  height: 25px;
  width: 25px;
}
.main .google-login{
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 35px;
  display: flex;
  margin-left: 25px;
  padding: 5px 5px;
  width: 300px;
  border-radius: 5px;
  text-decoration: none;
}
.forgot {
  display: block;  
  text-align: right;  
  margin-left: 50px;
  /* margin-top: -10px; */
  margin-bottom: -50px;
  font-size: 14px;
  color: blue;
  cursor: pointer;
}

.forgot:hover {
  text-decoration: underline;
}
.email label,
.pass label{
  display: flex;
  font-weight: 500;
  font-size: 20px;
}
.system-img{
  height: 400px;
  width: 350px;
  background: linear-gradient(to bottom right, #7c3aed, #6b21a8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.system-img .icon{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 10px;
  background-color: #8F5DE4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}
.system-img h3,p{
  color: white;
}
.system-img p{
  font-size: 10px;
}
button {
  font-family: 'Poppins', sans-serif !important;
}
.or{
  color: black;
}