@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url("/images/background.png"); */
  font-family: 'Poppins', sans-serif;

}
.sub{
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  height: 450px;
  width: 350px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  text-align: center;
  margin-right: 10px;
}
.container{
  display: flex;
  background-color: white;
  width: 900px;
  height: 480px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}
.sub h2{
  text-align: left;
  margin-left: 10px;
  font-size: 25px;
}
.signup{
  margin-left: -70px;
  margin-top: -20px;
}
.sub label{
  color: black;
  margin-left: 30px;
}
.sub input{
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;
  width: 250px;
  color: black;
  margin-top: 0;
}
.sub .signup-button{
  background-color: rgb(93, 21, 161);
  width: 300px;
  margin-top: 25px;
  height: 30px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  /* padding: 5px 5px; */
  align-items: center;
  justify-content: center;
}

.sub .signup-button:hover {
  background-color: rgb(109, 24, 200);
}
img{
  height: 25px;
  width: 25px;
}
.sub .google{
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 35px;
  display: flex;
  margin-left: 25px;
  padding: 5px 5px;
  border: 2px solid black;
  width: 300px;
  border-radius: 5px;
}
.forgot {
  display: block;  
  text-align: right;  
  margin-left: 50px;
  /* margin-top: -10px; */
  margin-bottom: -50px;
  font-size: 14px;
  color: blue;
  cursor: pointer;
}

.forgot:hover {
  text-decoration: underline;
}
.email label,
.pass label{
  display: flex;
  font-weight: 500;
  font-size: 20px;
}
.pic-img{
  height: 350px;
  width: 350px;
}
button {
  font-family: 'Poppins', sans-serif !important;
}